@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-one: #f6f7f4;
    --color-two: #e0e2d8;
    --color-three: rgba(246, 247, 244, .5);
    --color-four: #4f5549;
    --color-five: rgba(79, 85, 73, .5);
}


@font-face {
    font-family: 'Butler Ultra';
    src: url('../font/ButlerStencil-UltraLight.woff2') format('woff2'),
        url('../font/ButlerStencil-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Light';
    src: url('../font/ButlerStencil-Light.woff2') format('woff2'),
        url('../font/ButlerStencil-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.cursor {
    cursor: pointer;
}

main {
    width: 100%;
    /* overflow-x: hidden; */

    .navbar-section {
        background-color: var(--color-four);
    }

    .nav-links {
        opacity: 0.7;
        transition: all .4s ease;
        position: relative;
        font-family: 'Butler Light', sans serif;
        font-size: 16px;

        &::after {
            content: '';
            display: flex;
            width: 100%;
            height: 1px;
            background-color: var(--color-one);
            position: absolute;
            left: -15%;
            bottom: -10%;
            opacity: 0;
            visibility: hidden;
            transition: all 1s ease;
        }

        &:hover {
            opacity: 1;
        }

        &:hover::after {
            left: 0;
            bottom: -10%;
            opacity: 1;
            visibility: visible;
        }
    }

    .cart {
        font-family: 'Butler Light', sans-serif;
        text-transform: capitalize;
        width: 30%;
        height: 100%;
    }

    .number {
        background-color: var(--color-two);
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }

    .cart-container {
        transition: all .4s ease;


        &:hover {
            opacity: 0.6;
        }
    }

    .hamburger {

        &:hover>.line:nth-of-type(2) {
            width: 60%;
        }

        >.line {
            background-color: var(--color-one);

            &:nth-of-type(1) {
                width: 60%;
                height: 2px;
            }

            &:nth-of-type(2) {
                width: 40%;
                height: 2px;
                transition: all .4s ease;

            }
        }
    }

    .header-section {

        @media screen and (max-width: 992px) {
            height: 200vh;
        }

        @media screen and (min-width: 993px) {
            height: 100vh;

            .header-motto {
                height: 100% !important;
            }
        }
    }

    .header-content {
        animation: opacity1 .8s ease-in-out 1;

        >span {
            font-size: 10px;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 2px;
            font-weight: 300;
            color: var(--color-five);
        }

        >h1 {
            font-family: 'Butler Light', sans-serif;
            font-size: 60px;
            color: var(--color-four);
            font-weight: normal;
        }

        >a {
            font-family: 'Butler Light', sans-serif;
        }
    }

    .button-main {
        width: 200px;
        height: 70px;
        border-radius: 5px;
        background-color: var(--color-four);
        color: var(--color-two);
        font-size: 13px;
        font-weight: bold;
        transition: all .4s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    .carousel-image {
        top: 30%;
        left: 35%;
    }

    .quote-row {
        height: 100vh;
    }

    .quote {
        font-size: 38px;
        text-align: center;
        color: var(--color-four);
        font-family: 'Butler Ultra', sans-serif;
        line-height: 40px;
    }

    .services-section {
        @media screen and (max-width: 992px) {
            margin-top: 40%;
        }
    }

    .services-row {
        width: 100%;
        height: 100vh;

        @media screen and (max-width: 992px) {
            height: 300vh;
        }
    }

    .video-container {
        width: 100%;
        height: 100%;

        &::after {
            content: '';
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: var(--color-five);
        }
    }

    .video-section {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .box-container {
        height: 75%;
        left: 0;
    }

    .box-content {
        background-color: var(--color-one);
        transition: all .4s ease;
        cursor: pointer;
        border-radius: 5px;
        height: 30%;

        @media screen and (min-width: 992px) {
            height: 100% !important;
        }

        >h2 {
            color: var(--color-four);
            font-family: 'Butler Light', sans-serif;
            text-transform: capitalize;
        }

        >span {
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
            color: var(--color-five);
        }

        >div {

            >a {
                text-transform: uppercase;
                font-family: 'Butler Light', sans-serif;
            }
        }

        &:hover {
            transform: translateY(-2%);
        }
    }

    .tag {
        top: -40px;
        left: auto;
        bottom: auto;
        right: auto;
        display: flex;
        width: 350px;
        height: 80px;
        background-color: var(--color-four);
        justify-content: center;
        align-items: center;

        >span {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            color: var(--color-one);
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
        }
    }

    .static-section {
        background-color: var(--color-one);
    }

    .static-box {
        @media screen and (max-width: 992px) {
            border: none !important;
        }
    }

    .static-number-content {
        font-family: 'Butler Light', sans-serif;
        color: var(--color-four);
        font-size: 40px;
        text-transform: uppercase;
    }

    .static-text-content {
        font-family: 'Poppins', sans-serif;
        color: var(--color-five);
        font-size: 13px;
    }

    .about-figure {
        width: 150px;
        height: 150px;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .about-section {
        background-color: var(--color-one);
    }

    .about-group {

        >h3 {
            color: var(--color-four);
            font-family: 'Butler Light', sans-serif;
            font-size: 40px;
            font-weight: normal;
        }

        >p {
            color: var(--color-five);
            font-size: 14px;
        }
    }

    .about-btn {
        height: 70px;
        border-radius: 5px;
        background-color: var(--color-four);
        color: var(--color-two);
        font-size: 13px;
        font-weight: bold;
        transition: all .4s ease;

        >a {
            font-family: 'Butler Light', sans-serif;
            word-spacing: 1px;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .carousel-big {
        @media screen and (max-width: 767px) {
            height: 500px;
        }

        @media screen and (min-width: 768px) {
            height: 520px;
        }

        @media screen and (min-width: 992px) {
            height: 600px;
        }

        @media screen and (min-width: 1200px) {
            height: 700px;
        }

        @media screen and (min-width: 1400px) {
            height: 750px;
        }
    }

    .project-section {
        background-color: var(--color-two);
    }

    .project-text {
        font-family: 'Butler Ultra', sans-serif;
        text-transform: uppercase;
        color: var(--color-four);
    }

    .project-carousel {
        height: 700px;
    }

    .marq {
        margin-top: 12%;
        height: 80px;
        animation: marquee 40s linear infinite alternate;

    }

    .marq-content {
        font-size: 22px;
        font-family: 'Butler Light', sans-serif;
        color: var(--color-four);
        animation: opacity .1s linear infinite alternate;
    }

    .spotlight-figure {
        height: 100vh;

        &::after {
            content: '';
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-five);
        }
    }

    .spotlight-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        >hgroup {
            >h3 {
                font-size: 12px;
                color: var(--color-one);
                font-family: 'Poppins', sans-serif;
                font-weight: bold;
            }

            >p {
                font-family: 'Butler Ultra', sans-serif;
                color: var(--color-one);
            }
        }

        >figure {
            width: 180px;
            height: 180px;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            >figcaption {
                font-size: 12px;
                color: var(--color-one);
                font-family: 'Poppins', sans-serif;
                font-weight: 300;
            }
        }

        >div {

            >a {
                width: 160px;
                height: 65px;
                background-color: var(--color-one);
                font-family: 'Butler Ultra', sans-serif;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 13px;
                border-radius: 5px;
                transition: all .4s ease;

                &:hover {
                    background-color: var(--color-two);
                }
            }
        }
    }

    .resources-section {
        background-color: #f6f7f4;
    }

    .res-header {
        font-size: 55px;
        font-family: 'Butler Ultra', sans-serif;
    }

    .res-figure {

        &:hover {
            >figure>img {
                transform: scale(1.1);
            }

            >.fig-content>div>a {
                opacity: 1;
            }
        }

        >figure {
            overflow: hidden;
            height: 400px;

            >img {
                transition: all 1s ease-in-out;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .fig-content {
        >hgroup {
            >h3 {
                font-family: 'Butler Ultra', sans-serif;
                font-size: 30px;
            }

            >p {
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                color: var(--color-five);
            }
        }

        >div {
            >a {
                opacity: 0;
                transition: all 1s ease;
                font-family: 'Poppins', sans-serif;
                text-decoration: underline;
                font-size: 13px;
                text-underline-offset: 5px;
            }
        }
    }

    .footer-section {
        background-color: var(--color-four);
    }

    .footer-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    }

    .footer-image-text {
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        color: var(--color-one);
    }

    .ft-icon {
        color: var(--color-two);
        transition: all .4s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .footer-btn {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: var(--color-one);
        animation: up-down 2s linear infinite alternate;
    }
}

@keyframes marquee {
    to {
        transform: translateX(-75%);
    }
}

@keyframes opacity {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity1 {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(0%);
    }

    20% {
        transform: translateY(-20%);
    }

    50% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0%);
    }
}